@charset 'utf-8';
@import url('nanumsquare/nanumsquare.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
  border: 0;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}


body {
  font-family: 'NanumSquare', 'Malgun Gothic', '맑은 고딕', "돋움", Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 1.6;
  color: #888;
  overflow-x: hidden;
}

/* 공통(재사용) */
.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* float를 해제 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

/* 위로가기 */
.gotop {
  position: fixed;
  right: 20px;
  bottom: 50px;
  display: block;
  width: 50px;
  height: 50px;
  background: url('../images/top.png') no-repeat center;
  background-size: cover;
  border: 0;
  cursor: pointer;
  z-index: 999;
}

/* 모바일 메뉴 */
.mb-bt {
  position: fixed;
  left: 20px;
  top: 30px;
  display: none;
  width: 22px;
  height: 21px;
  z-index: 99997;
}

.mb-bt::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #51504e;
}

.mb-bt span {
  position: absolute;
  left: 0;
  top: 9px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #51504e;
}

.mb-bt::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #51504e;
}

/* 모바일 가림막 */
.mb-dim {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 9998;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

/* 모바일 메뉴내용 */
.mb-wrap {
  position: fixed;
  left: -320px;
  top: 0;
  display: block;
  z-index: 99999;
  width: 320px;
  height: 100vh;
  background-color: #fff;
  transition: left 0.5s;
}

.mb-wrap-open {
  left: 0;
}

.mb-close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  width: 22px;
  height: 21px;
  background: url('../images/btn_close2.png') no-repeat center;
  z-index: 9;
}

.mb-sns {
  position: relative;
  display: block;
  padding: 20px 20px;
}

.mb-sns-list {
  position: relative;
  display: block;
}

.mb-sns-list li {
  position: relative;
  display: blocyk;
  float: left;
  margin-right: 5px;
}

.mb-sns-list li a {
  position: relative;
  display: block;
}

.mb-menu {
  position: relative;
  display: block;
}

.mb-menu>li {
  position: relative;
  display: block;

  border-bottom: 1px solid #eee;
}

.mb-menu>li>a {
  position: relative;
  display: block;
  line-height: 50px;
  color: #222;
  font-size: 16px;
  padding-left: 20px;
  font-weight: 500;
}

.mb-menu>li>a::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 13px;
  height: 9px;
  background: url('../images/lnb_bl.png') no-repeat center;
  transition: transform 0.5s;
}

.mb-icon-rot::after {
  transform: translateY(-50%) rotate(180deg) !important;
}

/* 포커스 유지 */
.mb-menu-focus {
  color: #4abbc3 !important;
}

/* .mb-menu > li:hover > a {
  color: #4abbc3;
}
.mb-menu > li:hover .mb-submenu {
  display: block;
} */

.mb-submenu {
  position: relative;
  display: none;
  background-color: #f2f2f2;
}

.mb-submenu li {
  position: relative;
  display: block;
}

.mb-submenu li a {
  position: relative;
  display: block;
  font-size: 13px;
  color: #888;
  line-height: 40px;
  padding-left: 30px;
}

/* 고정메뉴 */
.fix-menu {
  position: fixed;
  right: 10px;
  top: 200px;
  display: block;
  z-index: 99999;
}

.fix-menu a {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

@media all and (max-width:700px) {
  .fix-menu {
    display: none;
  }
}


/* layout */
.wrap {
  position: relative;
  display: block;
}

/* header */
.header {
  position: relative;
  display: block;
  z-index: 9999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-fix {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.header .inner {
  max-width: 1200px;
  background-color: #fff;
}

.header .inner::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  display: block;

  width: 100vw;
  height: 100%;
  background-color: #fff;

}


.header-top {
  position: relative;
  display: block;
  padding-top: 20px;
}

.header-top-close {
  display: none;
}


.h-sns-list {
  position: relative;
  display: block;
  float: right;

  overflow: hidden;
}

.h-sns-list li {
  position: relative;
  display: block;
  float: left;
  margin-left: 8px;
}

.h-sns-list li:first-child {
  margin-left: 0;
}

.h-sns-list li a {
  position: relative;
  display: block;
  width: 23px;
  height: 23px;
  font-size: 0;
}

.icon-bg {
  background: url('../images/sns_blog.png') no-repeat center;
  background-size: cover;
}

.icon-is {
  background: url('../images/sns_insta.png') no-repeat center;
  background-size: cover;
}

.icon-fb {
  background: url('../images/sns_facebook.png') no-repeat center;
  background-size: cover;
}

.header-main {
  position: relative;
  display: block;
  padding: 20px 0;

  height: 87px;
  overflow: hidden;
  transition: height 0.5s;
}

.header-main-show {
  height: 258px;
}

.logo {
  position: relative;
  display: block;
  width: 200px;
  height: 47px;
  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
  font-size: 0;
  float: left;
}

.gnb {
  position: relative;
  display: block;
  float: right;
}

.menu {
  position: relative;
  display: block;

  font-size: 0;
  text-align: center;
}

.menu>li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 40px;
}

.menu>li:last-child {
  padding-right: 0;
}

.menu>li>a {
  position: relative;
  display: block;
  font-size: 18px;
  color: #333;

  line-height: 47px;
}

.submenu {
  position: relative;
  display: block;
  padding: 20px 0;

}

.submenu li {
  position: relative;
  display: block;

  line-height: 30px;
}

.submenu li a {
  position: relative;
  display: block;
  font-size: 14px;
  color: #999;
}

@media all and (max-width:1080px) {
  .menu>li {
    padding: 0 30px;
  }
}

@media all and (max-width: 960px) {
  .menu>li {
    padding: 0 20px;
  }
}

@media all and (max-width: 850px) {
  .logo {
    width: 140px;
  }

  .menu>li>a {
    font-size: 16px;
  }

  .submenu li a {
    font-size: 13px;
  }
}

@media all and (max-width: 760px) {
  .menu>li {
    padding: 0 15px;
  }

  .mb-dim {
    display: none;
  }

}

@media all and (max-width: 700px) {
  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .header-top {
    display: none;
  }

  .header-main {
    height: 81px;
  }

  .gnb {
    display: none;
  }

  .mb-bt {
    display: block;
  }

}

/* visual */
.visual {
  position: relative;
  display: block;
  height: 700px;
}

.sw-visual {
  width: 100%;
  height: 100%;
}

.sw-visual a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.sw-visual-1 {
  background: url('../images/main_visual01.jpg') no-repeat center;
  background-size: cover;
}

.sw-visual-2 {
  background: url('../images/main_visual02.jpg') no-repeat center;
  background-size: cover;
}

.sw-visual-3 {
  background: url('../images/main_visual03.jpg') no-repeat center;
  background-size: cover;
}

.sw-visual-4 {
  background: url('../images/main_visual04.jpg') no-repeat center;
  background-size: cover;
}

.sw-visual-prev {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);

  display: block;
  width: 55px;
  height: 98px;
  background: url('../images/btn_arrow.png') no-repeat;
  /* background-position: 0 0; */
  background-size: cover;

  z-index: 9;
  border: 0;
  cursor: pointer;
}

.sw-visual-next {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);

  display: block;
  width: 55px;
  height: 98px;
  background: url('../images/btn_arrow.png') no-repeat right top;
  /* background-position: -55px 0; */
  background-size: cover;

  z-index: 9;
  border: 0;
  cursor: pointer;
}

.sw-visual-pg {
  z-index: 9;
}

/* visual PC 버전 */
/* visual 반응형 버전 */
@media all and (max-width:1000px) {
  .visual {
    height: 70vw;
  }

  .sw-visual-next {
    width: 5.5vw;
    height: 9.8vw;
    /* background-position: -5.5vw 0; */
  }

  .sw-visual-prev {
    width: 5.5vw;
    height: 9.8vw;
  }
}

/* items */
.items {
  position: relative;
  display: block;
  padding: 100px 0;
}

.items .inner {}

.items-box {
  position: relative;
  display: block;
  width: 50%;
  height: 323px;
  float: left;
  overflow: hidden;
}

.items-box:nth-child(1) {
  background: url('../images/mb01_bg.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
}

.items-box:nth-child(1) img {
  margin-top: 65px;
  margin-bottom: 25px;
}

.items-box:nth-child(1) span {
  position: relative;
  display: block;
  width: 58px;
  height: 1px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 35px;
}

.items-box:nth-child(1) a {
  position: relative;
  display: block
}

.items-box:nth-child(1) a h3 {
  position: relative;
  display: block;
  font-size: 25px;
  color: #fff;
}

.items-box:nth-child(1) a p {
  position: relative;
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 1.3;
}

/* 슬라이드 넣기 */
.items-box:nth-child(2) {}

.sw-items {
  width: 100%;
  height: 100%;
}

.sw-items .swiper-slide a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.items-1 {
  background: url('../images/mb02_bg.jpg') no-repeat center;
  background-size: cover;
}

.items-2 {
  background: url('../images/mb03_bg.jpg') no-repeat center;
  background-size: cover;
}

.items-3 {
  background: url('../images/mb04_bg.jpg') no-repeat center;
  background-size: cover;
}

.items-4 {
  background: url('../images/mb05_bg.jpg') no-repeat center;
  background-size: cover;
}

.items-5 {
  background: url('../images/mb06_bg.jpg') no-repeat center;
  background-size: cover;
}

.sw-items-prev {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 14px;
  height: 23px;
  background: url('../images/btn_arrow2.png') no-repeat 0 0;
  z-index: 9;
  border: 0;
  cursor: pointer;
}

.sw-items-next {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 14px;
  height: 23px;
  background: url('../images/btn_arrow2.png') no-repeat right top;
  z-index: 9;
  border: 0;
  cursor: pointer;
}

.sw-items-control {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: block;
  z-index: 9;
}

.sw-items-pg .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 0.5;
  margin: 5px;
  border-radius: 5px;

  transition: all 0.5s;
}

.sw-items-pg .swiper-pagination-bullet-active {
  width: 30px;
  background-color: hotpink;
  opacity: 1;
}


/* 링크 */
.items-box:nth-child(3) {}

.items-box:nth-child(3) a {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.items-box:nth-child(3) a:first-child {
  background: #f3f3f3 url('../images/franchise_ico01.png') no-repeat center 60px;
}

.items-box:nth-child(3) a:last-child {
  background: #fff url('../images/franchise_ico02.png') no-repeat center 60px;
}

.items-box:nth-child(3) a h3 {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  color: #000;

  margin-top: 190px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}


.items-box:nth-child(3) a p {
  position: relative;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #888;
}


.items-box:nth-child(4) {}

.search-left {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  float: left;
  background: url('../images/store01.jpg') no-repeat left center;
  background-size: cover;
}

.search {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  background-color: #292929;
  float: right;
  text-align: center;
  padding: 0 35px;
}


.search h2 {
  position: relative;
  display: block;
  font-size: 25px;
  color: #ba9b65;
  font-weight: 500;
  margin-top: 60px;
}

.search h3 {
  position: relative;
  display: inline-block;
  font-size: 25px;
  color: #ba9b65;
  font-weight: 400;

  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #6a6a6a;
}

.search p {
  position: relative;
  display: block;
  font-size: 16px;
  color: #ba9b65;
  font-weight: 400;
  line-height: 20px;

  margin-bottom: 25px;
}

.search-form {
  position: relative;
  display: block;
  width: 100%;
  height: 39px;
  background-color: #3e3e3e;
  padding-right: 39px;
}

.search-form label {
  display: none;
}

.shop {
  position: relative;
  display: block;
  width: 100%;
  line-height: 39px;
  color: #fff;
  background-color: transparent;
  border: 0;

  padding: 0 10px;
}

.search-bt {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 39px;
  height: 39px;
  background: url('../images/btn_store.gif') no-repeat center;
  border: 0;
  font-size: 0;
}

/* items PC 영역 */
/* items 반응형 영역 */
@media all and (max-width: 1000px) {
  .items {
    padding: 10vw 0;
  }
}

@media all and (max-width: 800px) {
  .items-box:nth-child(3) a p {
    font-size: 14px;
  }
}

@media all and (max-width: 640px) {
  .items-box {
    width: 100%;
  }

  .items-box:nth-child(3) a p {
    font-size: 16px;
  }
}


/* bevarage */
.bevarage {
  position: relative;
  display: block;
  background: url('../images/main-menu-cover.jpg') no-repeat center;
  background-size: cover;

  padding: 100px 0;
}

.bevarage-top {
  position: relative;
  display: block;
}

.bevarage-top h2 {
  font-size: 40px;
  color: #000;
  text-align: center;
  font-weight: 400;
}

.bevarage-top h2 b {
  font-weight: 500;
}

.bevarage-top span {
  position: relative;
  display: block;
  text-align: center;
  font-size: 20px;
  color: #666;
  margin-top: 10px;
}

/* Bevarage 슬라이드 */
.sw-bevarage {
  width: 100%;
  height: 560px;
}

.sw-bevarage a {
  position: relative;
  display: block;
}

.sw-bevarage a img {
  width: 100%;
  height: auto;
}

.sw-bevarage-prev {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 55px;
  height: 98px;
  background: url('../images/btn_arrow3.png') no-repeat 0 0;
  background-size: cover;

  cursor: pointer;
  border: 0;
  z-index: 9;
}

.sw-bevarage-next {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 55px;
  height: 98px;
  background: url('../images/btn_arrow3.png') no-repeat 100% 0;
  background-size: cover;

  cursor: pointer;
  border: 0;
  z-index: 9;
}

.sw-bevarage-cotrol {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: block;
  z-index: 9;
}

.sw-bevarage-pg {
  font-size: 12px;
  color: #000;
}

.sw-bevarage-pg .swiper-pagination-current {
  font-weight: 600;
}

@media all and (max-width:1000px) {
  .bevarage {
    padding: 10vw 0;
  }

  .bevarage-top h2 {
    font-size: 30px;
  }

  .bevarage-top span {
    font-size: 15px;
  }

  .sw-bevarage {
    height: 56vw;
  }

  .sw-bevarage-prev,
  .sw-bevarage-next {
    width: 5.5vw;
    height: 9.8vw;
  }
}

/* franchiser */
.franchiser {
  position: relative;
  display: block;
  background: url('../images/main-store-bg.png') no-repeat center;
  background-size: cover;
  padding: 100px 0;
}

.franchiser .inner {}

.franchiser-top {
  position: relative;
  display: block;
}

.franchiser h2 {
  position: relative;
  display: block;
  font-size: 40px;
  color: #69ccd0;
  font-weight: 300;
  text-align: center;
}

.franchiser h2 b {
  font-weight: 500;
}

.franchiser span {
  position: relative;
  display: block;
  font-size: 20px;
  color: #666;
  text-align: center;
}

.franchiser-list {
  position: relative;
  display: block;
  margin-top: 40px;
}

.franchiser-list li {
  position: relative;
  display: block;
  float: left;
  width: 22%;
  margin-right: 4%;
}

.franchiser-list li:last-child {
  margin-right: 0;
}

.franchiser-list li a {
  position: relative;
  display: block;
  text-align: center;
}

.franchiser-list li a img {
  width: auto;
  height: 324px;
}

.franchiser-list li a span {
  position: relative;
  display: block;
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
}


/* 프랜차이즈 반응형 영역 */
@media all and (max-width: 1000px) {
  .franchiser {
    padding: 10vw 0;
  }

  .franchiser-top h2 {
    font-size: 30px;
  }

  .franchiser-top span {
    font-size: 15px;
  }

  .franchiser-list {
    margin-top: 4vw;
  }

  .franchiser-list li a img {
    height: 32.4vw;
  }

  .franchiser-list li a span {
    font-size: 15px;
    white-space: nowrap;
    margin-top: 2vw;
  }

}



/* sns */
.sns {
  position: relative;
  display: block;
  padding: 100px 0;
}

.sns .inner {}

.sns-top {
  position: relative;
  display: block;
  text-align: center;
}

.sns-top h2 {
  position: relative;
  display: block;
  font-size: 40px;
  color: #000;
  font-weight: 300;
}

.sns-top h2 b {
  font-weight: 500;
}

.sns-top span {
  position: relative;
  display: block;
  font-size: 20px;
  color: #666;
}

@media all and (max-width:1000px) {
  .sns {
    padding: 10vw 0;
  }

  .sns-top h2 {
    font-size: 30px;
  }

  .sns-top span {
    font-size: 15px;
  }
}

/* footer */
.footer {
  position: relative;
  display: block;

  background-color: #262626;
  padding: 25px 0;
}

.footer .inner {
  text-align: center;
}

.footer .inner hr {
  border: 1px solid #262626;
}

.footer-menu {
  position: relative;
  display: inline-block;

  white-space: nowrap;
}

.footer-menu li {
  position: relative;
  display: inline-block;
  padding: 0 21px;
}

.footer-menu li a {
  position: relative;
  display: block;

  font-size: 16px;
  line-height: 30px;
  color: #9e9e9e;

}


.footer-logo {
  position: relative;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 20px;
}

.footer-copy {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  font-size: 13px;
  color: #9e9e9e;
}

.bar {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  vertical-align: 0;
}

.bar::after {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  display: block;
  width: 1px;
  height: 12px;
  background-color: #9e9e9e;
}

.footer-sns {
  position: relative;
  display: inline-block;
}

.footer-sns li {
  position: relative;
  display: block;
  float: left;
  padding: 0 3px;
}

.footer-sns li a {
  position: relative;
  display: block;
}

@media all and (max-width:1000px) {
  .footer-menu li {
    padding: 0 2.1vw;
  }

  .footer-menu li a {
    font-size: 13px;
  }
}