@charset 'utf-8';
@import url('nanumsquare/nanumsquare.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
  border: 0;
}

html {
  font-size: 16px;
}


body {
  font-family: 'NanumSquare', 'Malgun Gothic', '맑은 고딕', "돋움", Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 1.6;
  color: #888;
}

/* 공통(재사용) */
.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* float를 해제 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

/* header */
.header {
  position: relative;
  display: block;
  z-index: 9999;
}

.header .inner {
  height: 130px;
}

.logo {
  position: absolute;
  left: 0;
  top: 65px;
  display: block;
  width: 200px;
  height: 47px;
  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
  font-size: 0;

}

.gnb {
  position: absolute;
  right: 0;
  top: 75px;
  display: block;
}

.h-sns {
  position: absolute;
  right: 0;
  top: 20px;
  display: block;
}

.h-sns-list {
  position: relative;
  display: block;
  overflow: hidden;
}

.h-sns-list li {
  position: relative;
  display: block;
  float: left;
  margin-left: 8px;
}

.h-sns-list li:first-child {
  margin-left: 0;
}

.h-sns-list li a {
  position: relative;
  display: block;
  width: 23px;
  height: 23px;
  font-size: 0;
}

.icon-bg {
  background: url('../images/sns_blog.png') no-repeat center;
  background-size: cover;
}

.icon-is {
  background: url('../images/sns_insta.png') no-repeat center;
  background-size: cover;
}

.icon-fb {
  background: url('../images/sns_facebook.png') no-repeat center;
  background-size: cover;
}

/* visual */
.visual {
  position: relative;
  display: block;
  height: 700px;
}

.sw-visual {
  width: 100%;
  height: 100%;
}

.sw-visual a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.sw-visual-1 {
  background: url('../images/main_visual01.jpg') no-repeat center;
  background-size: cover;
}

.sw-visual-2 {
  background: url('../images/main_visual02.jpg') no-repeat center;
  background-size: cover;
}

.sw-visual-3 {
  background: url('../images/main_visual03.jpg') no-repeat center;
  background-size: cover;
}

.sw-visual-4 {
  background: url('../images/main_visual04.jpg') no-repeat center;
  background-size: cover;
}

.sw-visual-prev {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);

  display: block;
  width: 55px;
  height: 98px;
  background: url('../images/btn_arrow.png') no-repeat;
  /* background-position: 0 0; */
  background-size: cover;

  z-index: 9;
  border: 0;
  cursor: pointer;
}

.sw-visual-next {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);

  display: block;
  width: 55px;
  height: 98px;
  background: url('../images/btn_arrow.png') no-repeat right top;
  /* background-position: -55px 0; */
  background-size: cover;

  z-index: 9;
  border: 0;
  cursor: pointer;
}

.sw-visual-pg {
  z-index: 9;
}

/* visual PC 버전 */
/* visual 반응형 버전 */
@media all and (max-width:1000px) {
  .visual {
    height: 70vw;
  }

  .sw-visual-next {
    width: 5.5vw;
    height: 9.8vw;
    /* background-position: -5.5vw 0; */
  }

  .sw-visual-prev {
    width: 5.5vw;
    height: 9.8vw;
  }
}

/* items */
.items {
  position: relative;
  display: block;
  padding: 100px 0;
}

.items .inner {}

.items-box {
  position: relative;
  display: block;
  width: 50%;
  height: 323px;
  float: left;
  overflow: hidden;
}

.items-box:nth-child(1) {
  background: url('../images/mb01_bg.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
}

.items-box:nth-child(1) img {
  margin-top: 65px;
  margin-bottom: 25px;
}

.items-box:nth-child(1) span {
  position: relative;
  display: block;
  width: 58px;
  height: 1px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 35px;
}

.items-box:nth-child(1) a  {
  position: relative;
  display: block
}
.items-box:nth-child(1) a h3 {
  position: relative;
  display: block;
  font-size: 25px;
  color: #fff;
}
.items-box:nth-child(1) a p {
  position: relative;
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 1.3;
}

/* 슬라이드 넣기 */
.items-box:nth-child(2) {  
}

.sw-items {
  width: 100%;
  height: 100%;
}
.sw-items .swiper-slide a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.items-1 {
  background: url('../images/mb02_bg.jpg') no-repeat center;
  background-size: cover;
}
.items-2 {
  background: url('../images/mb03_bg.jpg') no-repeat center;
  background-size: cover;
}
.items-3 {
  background: url('../images/mb04_bg.jpg') no-repeat center;
  background-size: cover;
}
.items-4 {
  background: url('../images/mb05_bg.jpg') no-repeat center;
  background-size: cover;
}
.items-5 {
  background: url('../images/mb06_bg.jpg') no-repeat center;
  background-size: cover;
}

.sw-items-prev {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 14px;
  height: 23px;
  background: url('../images/btn_arrow2.png') no-repeat 0 0;
  z-index: 9;
  border: 0;
  cursor: pointer;
}
.sw-items-next {  
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 14px;
  height: 23px;
  background: url('../images/btn_arrow2.png') no-repeat right top;
  z-index: 9;
  border: 0;
  cursor: pointer;
}

.sw-items-control {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: block;
  z-index: 9;
}

.sw-items-pg .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 0.5;
  margin: 5px;
  border-radius: 5px;

  transition: all 0.5s;
}

.sw-items-pg .swiper-pagination-bullet-active {
  width: 30px; 
  background-color: hotpink; 
  opacity: 1;
}


/* 링크 */
.items-box:nth-child(3) {
}

.items-box:nth-child(3) a {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.items-box:nth-child(3) a:first-child{
  background: #f3f3f3 url('../images/franchise_ico01.png') no-repeat center 60px;
}

.items-box:nth-child(3) a:last-child{
  background: #fff url('../images/franchise_ico02.png') no-repeat center 60px;
}

.items-box:nth-child(3) a h3 {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  color: #000;

  margin-top: 190px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}


.items-box:nth-child(3) a p {
  position: relative;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #888;
}


.items-box:nth-child(4) {
  
}

.search-left {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  float: left;
  background: url('../images/store01.jpg') no-repeat left center;
  background-size: cover;
}

.search {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  background-color: #292929;
  float: right;
  text-align: center;
  padding: 0 35px;
}


.search h2 {
  position: relative;
  display: block;
  font-size: 25px;
  color: #ba9b65;
  font-weight: 500;
  margin-top: 60px;
}

.search h3 {
  position: relative;
  display: inline-block;
  font-size: 25px;
  color: #ba9b65;
  font-weight: 400;

  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #6a6a6a;
}

.search p {
  position: relative;
  display: block;
  font-size: 16px;
  color: #ba9b65;
  font-weight: 400;
  line-height: 20px;

  margin-bottom: 25px;
}

.search-form {
  position: relative;
  display: block;
  width: 100%;
  height: 39px;
  background-color: #3e3e3e;
  padding-right: 39px;
}

.search-form label {
  display: none;
}

.shop {
  position: relative;
  display: block;
  width: 100%;
  line-height: 39px;
  color: #fff;
  background-color: transparent;
  border: 0;

  padding: 0 10px;
}

.search-bt {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 39px;
  height: 39px;
  background: url('../images/btn_store.gif') no-repeat center;
  border: 0;
  font-size: 0;
}

/* items PC 영역 */
/* items 반응형 영역 */
@media all and (max-width: 1000px) {
  .items {
    padding: 10vw 0;
  }
}

@media all and (max-width: 800px) {
  .items-box:nth-child(3) a p {
    font-size: 14px;
  }
}

@media all and (max-width: 640px) {
  .items-box {
    width: 100%;
  }
  .items-box:nth-child(3) a p {
    font-size: 16px;
  }
}


/* bevarage */
.bevarage {
  position: relative;
  display: block;
  background: url('../images/main-menu-cover.jpg') no-repeat center;
  background-size: cover;

  padding: 100px 0;
}

.bevarage-top {
  position: relative;
  display: block;  
}
.bevarage-top h2 {
  font-size: 40px;
  color: #000;
  text-align: center;
  font-weight: 400;
}

.bevarage-top h2 b {
  font-weight: 500;
}
.bevarage-top span {
  position: relative;
  display: block;
  text-align: center;
  font-size: 20px;
  color: #666;
  margin-top: 10px;
}
/* Bevarage 슬라이드 */
.sw-bevarage {
  width: 100%;
  height: 560px;
}

.sw-bevarage a {
  position: relative;
  display: block;
}
.sw-bevarage a img {
  width: 100%;
  height: auto;
}

.sw-bevarage-prev {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 55px;
  height: 98px;
  background: url('../images/btn_arrow3.png') no-repeat 0 0;
  background-size: cover;

  cursor: pointer;
  border: 0;
  z-index: 9;
}

.sw-bevarage-next {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 55px;
  height: 98px;
  background: url('../images/btn_arrow3.png') no-repeat 100% 0;
  background-size: cover;

  cursor: pointer;
  border: 0;
  z-index: 9;
}

.sw-bevarage-cotrol {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: block;
  z-index: 9;
}
.sw-bevarage-pg {
  font-size: 12px;
  color: #000;
}
.sw-bevarage-pg .swiper-pagination-current {
  font-weight: 600;
}

@media all and (max-width:1000px) {
  .bevarage {
    padding: 10vw 0;
  }
  .bevarage-top h2 {
    font-size: 30px;
  }
  .bevarage-top span {
    font-size: 15px;
  }
  .sw-bevarage {
    height: 56vw;
  }
  .sw-bevarage-prev,
  .sw-bevarage-next {
    width: 5.5vw;
    height: 9.8vw;
  }
}

/* franchiser */
.franchiser {
  position: relative;
  display: block;
}

/* sns */
.sns {
  position: relative;
  display: block;
}

/* footer */
.footer {
  position: relative;
  display: block;
}